@page "/tasks"

<!-- Embed the static Tasks page from wwwroot/task_page -->
<div style="width:100%; height:100vh; box-sizing:border-box; overflow:hidden;">
    <iframe src="/task_page/task.html"
            title="PawGress Tasks"
            style="border:0; width:100%; height:100%;"
            sandbox="allow-scripts allow-same-origin allow-forms">
        Your browser does not support iframes. Open the tasks page at
        <a href="/task_page/task.html">/task_page/task.html</a>.
    </iframe>
</div>
